@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&family=Varela+Round&display=swap');

/* basic starting styles for page, titles and paragraphs */

body {
        color: rgb(86, 44, 5);
        font-family: 'Varela Round', 'Sans serif';
}

p {
    font-family: 'Noto Serif', 'Sans serif';
}

h1 {
    font-size: 60px;
    text-align: center;
    letter-spacing: 4px;
    position: relative;
    line-height: 1px;
    
}

h3 {
    text-align: center;
    font-size: 30px;
    text-decoration-line: underline;
}

h4 {
    font-size: 20px;
}

/* navigation links */

nav {
    text-align: center;
    font-size: 20px;
    padding: 20px 0 0 0;
}

.color {
    color: rgb(86, 44, 5);
    padding: 0 3px 0 3px;
    text-decoration: none;
}

.color:hover {
    color: rgb(238, 125, 13);
}

/* flex display used to show h2 elements and front image in the center */
.storage {
    display: flex;
    height: 500px;
    flex-direction: row;
}

.unit {
    font-size: 30px;
    font-weight: 100;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 0 auto;

}
/* Induction information displayed via inline-block display  */
.introduction {
    background-color: rgba(244, 161, 78, 0.9);
    font-weight: bold;
    border-radius: 10px;
    display: inline-block;
   
}

.introduction-unit {
    font-size: 20px;
    align-content: center;
    border: 1px solid rgba(240, 209, 178, 0.9);
    background-color: rgba(240, 209, 178, 0.9);
    border-radius: 10px;
    margin: 10px; 
    
}


/* flex display for New Issues #55-60 in 2022 section */

.contain {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.box {
    height: 200px;
    width: 100%;
    border-radius: 20%;
}

img {
    background-color: rgb(96, 73, 128);
}

/* table element in Volume 1-9 section */

th {
    text-transform: uppercase;
}

td, th, tr {
    border: 1px solid rgb(2, 9, 4);
    border-left: 1px solid rgb(2, 9, 4);
    border-right: 1px solid rgb(2, 9, 4);
    font-weight: bold;
    text-align: center;
}

#table {
    background-color: rgba(244, 161, 78, 0.9);
    border-radius: 10px;
}


/* fieldset element with unordered lists in About Authors section */

.fieldset {
    text-align: center;
    letter-spacing: 1px;
    line-height: normal;
}

legend {
    font-weight: bold;
}

li {
    list-style-type: none;
    font-family: 'Noto Serif', 'Sans serif';
}

#icon {
    color: rgb(2, 9, 4);
}

#icon:hover {
    color: rgb(238, 125, 13);
}

/* form  */

#form-set {
    background-image: url('../images/red2.jpg');
    background-color: rgb(132, 24, 24);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width:  100%;
    height: 700px;
    overflow: hidden;
    font-size: 20px;
}

.br-padding {
    padding: 4px 0 4px 0;
}
.submit {
    background-color: azure;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.form-input {
    background: transparent;
    width: 100%;
    height: 30px;
    margin:5px 0 20px 0;
    border: 1px solid azure;
    border-radius: 10px;
}

.form-box {
    background-color: rgba(1, 1, 8, 0.4);
    width: 200px;
    padding: 40px;
    margin: 40px;
    height: 550px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
}

.label-input {
    color: azure;
}

form > div {
    color: azure;
}

form > h3 {
    color: azure;
    margin: 5px;
}
