@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&family=Varela+Round&display=swap');
body {
        color: rgb(86, 44, 5);
        font-family: 'Varela Round', 'Sans serif';
        
    }
nav {
    text-align: center;
    
}
.color {
    color: rgb(86, 44, 5);
    padding: 0 3px 0 3px;
    text-decoration: none;
}

.color:hover {
    color: rgb(238, 125, 13);
}
p {
    font-family: 'Noto Serif', 'Sans serif';
}
h1 {
    font-size: 70px;
    text-align: left;
    margin: 0 auto;
    position: relative;
    line-height: 40px;
    padding: 1px 1px 1px 1px;
}

.storage {
    display: flex;
    height: 500px;
    flex-direction: row;
}

.unit {
    font-size: 30px;
    font-weight: 100;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 0 auto;

}

.introduction {
    background-color: rgb(238, 125, 13);
    font-weight: bold;
}

.contain {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    

}
.box {
    height: 200px;
    width: 100%;
    border-radius: 20%;
    
}
table {
    align-content: center;
}

td, th, tr {
    border: 1px solid black;
    border-left: 1px solid blue;
    border-right: 1px solid blue;
    width: 25%;
    text-align: center;
}
.fieldset {
    text-align: center;
}